<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myBusiness.products.restaurant.dao.main.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.myBusiness.products.restaurant.entity.RoleEntity">
        <id column="role_id" property="roleId" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="order" property="order" />
        <result column="enable" property="enable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, name, description, order, enable
    </sql>

    <select id="exists" parameterType="java.lang.Long" resultType="java.lang.Boolean">
        select 1 from role where role_id = #{roleId}
    </select>

</mapper>
